.label-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.supplier-label,
.certificate-type-label,
.valid-from-label,
.valid-to-label {
  font-style: italic;
  color: #5f5f5f;
  font-size: x-small;
  margin-bottom: 4px;
}

.supplier-input,
.certificate-type-select,
.valid-from-input,
.valid-to-input {
  height: 30px;
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  padding-left: 10px;
  padding-right: 10px;
}

.supplier-input {
  position: relative;
}

.custom-select-container {
  position: relative;
  display: inline-block;
}

.certificate-type-select {
  width: 100%;
  appearance: none;
}

.custom-select-icon {
  position: absolute;
  top: 20%;
  right: 8px;
  pointer-events: none;
}

.custom-select-arrow-icon {
  width: 16px;
  height: 16px;
}

.certificate-type-select::placeholder,
.valid-from-input::placeholder,
.valid-to-input::placeholder {
  color: #5f5f5f;
  font-size: small;
}

.input-buttons {
  position: absolute;
  display: flex;
  margin-top: 19px;
  align-self: flex-end;
}

.search-icon,
.close-icon {
  height: auto;
  width: 15px;
}

.search-button,
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 32px;
  background-color: #f2f2f2;
  cursor: pointer;
  border: 0.5px solid #c9c9c9;
}

.close-button {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.search-participant-button {
  display: flex;
  flex-direction: row;
  border: 1px solid #c9c9c9;
  background-color: #f2f2f2;
  min-width: 140px;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 4px;
  gap: 4px;
  cursor: pointer;
}

.add-participant {
  font-size: small;
  font-weight: 400;
}

.participants-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  min-height: 90px;
  background-color: #f5f5f5;
  gap: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.new-comment-button,
.send-comment-button {
  width: 35%;
  height: 30px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.new-comment-button {
  align-self: end;
  background-color: #3c9bcb;
}

.send-comment-button {
  align-self: start;
  background-color: rgb(194, 0, 0);
}

.user-comment-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-comment-comment-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  margin-top: 5px;
}

.user-comment-name-section,
.user-comment-comment-section {
  font-size: smaller;
}

.comment-paragraph {
  white-space: normal;
  max-width: 75%;
  word-wrap: break-word;
  align-items: flex-start;
  font-weight: 100;
  color: #5f5f5f;
  margin-top: 0px;
}

.userComment-name {
  color: #5f5f5f;
}

.comment-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 4px;
  padding-bottom: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.comment-text-area {
  resize: none;
  border-radius: 5px;
  border-color: #c9c9c9;
  padding: 10px;
  font-size: medium;
}

.user-comment-name-label {
  font-style: italic;
  color: #5f5f5f;
  font-size: small;
}

.error {
  color: red;
  font-size: 11px;
  margin-top: 3px;
}

.file-url {
  margin-top: 15px;
}

.participant-close-button {
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.participant-close-icon {
  height: 30px;
  width: 12px;
}

.push-notification {
  position: fixed;
  z-index: 999999;
  background-color: #000;
  border: 2.5px solid #3c9bcb;
  top: 4rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  border-radius: 14px;
  min-width: 250px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding: 0.1rem;
  opacity: 0;
  transition: opacity 0s ease-in-out;
  transform: translateY(100%);
}

.push-notification p {
  font-size: 13px;
}

@media (min-width: 768px) {
  .push-notification {
    max-width: 25%;
    top: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .push-notification {
    max-width: 15%;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.push-notification {
  animation:
    fadeInDown 1s forwards,
    slideInDown 1s forwards,
    fadeOutUp 1s 3s forwards;
}

@media (max-width: 834px) {
  .certificate-form {
    margin-top: 70px;
  }

  .new-comment-button,
  .send-comment-button {
    width: 30%;
  }
}

@media (max-width: 430px) {
  .new-comment-button,
  .send-comment-button {
    width: 40%;
  }
}
