nav {
  width: 98.5%;
  height: 52px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 8px 0;
  z-index: 1000;
  position: fixed;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-header-container {
  width: 21.25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f9ac9;
  border-radius: 8px 0 0 0;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}

.nav-header-container h1 {
  font-size: xx-large;
  font-weight: 100;
  color: white;
}

.language-selector-label {
  color: #5f5f5f;
}

.language-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
}

.language-type-select {
  height: 30px;
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  padding-left: 10px;
  padding-right: 10px;
  width: 90px;
  appearance: none;
  color: #5f5f5f;
  font-size: small;
}

.language-select-icon {
  position: absolute;
  top: 20%;
  right: 8px;
  pointer-events: none;
}

@media (max-width: 834px) {
  nav {
    width: 98%;
  }

  .nav-header-container {
    width: 30.25%;
  }

  .nav-header-container h1 {
    font-size: x-large;
  }

  .language-selector-label {
    font-size: smaller;
  }
}

@media (max-width: 430px) {
  nav {
    width: 98%;
    height: 32px;
  }

  .nav-header-container {
    width: 43.4%;
    margin-right: 4px;
  }

  .nav-header-container h1 {
    font-size: small;
  }

  .language-selector-container {
    gap: 5px;
    margin-right: 5px;
  }

  .language-type-select {
    height: 20px;
    padding-left: 5px;
    padding-right: 0px;
    width: 65px;
    font-size: small;
  }

  .language-selector-label {
    font-size: x-small;
  }

  .language-type-select {
    font-size: x-small;
  }

  .language-select-icon {
    right: 2px;
  }
}
