.tableContainer {
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  color: #5f5f5f;
}

.table-header {
  background-color: #f2f2f2;
}

.table-header-item {
  padding: 10px;
  font-weight: lighter;
  border-bottom: 1px solid #ddd;
  font-size: small;
}

tbody {
  font-weight: lighter;
  font-size: small;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #ffffff;
}

.gear {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  flex-direction: column;
}

.gear-button {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.gear-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 45px;
  margin-left: 30px;
  margin-top: 25px;
  z-index: 10;
}

.gear-menu span {
  cursor: pointer;
  margin-bottom: 3px;
}

@media (max-width: 834px) {
  table {
    min-width: 700px;
    min-height: 100px;
  }
}
