.supplier-lookup-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.supplier-lookup-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 550px;
  overflow-y: auto;
}

.lookup-modal-header-section {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  height: 30px;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.lookup-modal-header {
  font-size: small;
  font-weight: 500;
}

.lookup-close-icon {
  height: auto;
  width: 12px;
}

.lookup-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  background-color: #f2f2f2;
  cursor: pointer;
  border: 0.5px solid #c9c9c9;
  border-radius: 4px;
}

.lookup-header-container {
  display: flex;
  flex-direction: row;
  background-color: #3f9ac9;
  height: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  justify-content: left;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 5px;
}

.lookup-header-text {
  font-size: small;
  font-weight: 500;
  color: white;
}

.user-lookup-search-criteria-container {
  border: 0.5px solid #c9c9c9;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 5px;
  height: 230px;
  margin-bottom: 10px;
}

.user-inputs-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-self: center;
  gap: 10px;
  padding-top: 10px;
  height: 140px;
}

.user-lookup-search-criteria-button-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  margin-left: 18px;
}

.user-lookup-person-list-button-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  margin-left: 18px;
}

.lookup-search-button,
.lookup-reset-button,
.lookup-save-button,
.lookup-cancel-button {
  width: 24%;
  height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.lookup-search-button,
.lookup-save-button {
  border: none;
  color: white;
}

.lookup-search-button {
  background-color: #275c79;
}

.lookup-save-button {
  background-color: #f0d092;
}

.lookup-reset-button,
.lookup-cancel-button {
  border: 1px solid #c9c9c9;
  background-color: white;
  color: black;
}

.supplier-list-table-container {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.supplier-list-container {
  border: 0.5px solid #c9c9c9;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 5px;
  height: 300px;
}

.supplier-lookup-table-row-point {
  position: absolute;
  border-radius: 100%;
  border: 1px solid #a7a7a7;
  width: 8px;
  height: 8px;
  background-color: #ececec;
}

.supplier-lookup-table {
  background-color: white;
}

.supplier-lookup-table-row-point-container {
  position: relative;
  display: flex;
  align-items: center;
  border-top: none;
  border-bottom: none;
  border-right: none;
  flex-direction: column;
  height: 20px;
  justify-content: center;
}

.lookup-label-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

@media (max-width: 834px) {
  .lookup-search-button,
  .lookup-reset-button {
    width: 20%;
  }

  .supplier-lookup-modal-content {
    padding: 10px;
    height: 400px;
    width: 450px;
  }

  .user-inputs-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    padding-top: 8px;
    height: 120px;
  }

  .user-lookup-search-criteria-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 5px;
    height: 270px;
    margin-bottom: 10px;
  }

  .user-lookup-search-criteria-button-section {
    width: 90%;
    justify-content: center;
    margin-top: 65px;
  }

  .user-lookup-person-list-button-section {
    width: 90%;
    justify-content: center;
    margin-top: 5px;
  }

  @media (max-width: 430px) {
    .supplier-lookup-modal-content {
      height: 70%;
      width: 90%;
    }

    .supplier-inputs-container {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}
