.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  justify-content: start;
  margin-top: 8%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  width: 85%;
  justify-content: center;
}

.content h1 {
  font-weight: 100;
}
