.add-certificate-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 70vw;
  justify-content: center;
}

.add-certificate-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-self: center;
  width: 85%;
}

.add-file-container {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}

.form-button-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
  margin-right: 4%;
  margin-top: 60px;
}

.upload-button {
  width: 35%;
  height: 30px;
  color: white;
  background-color: #3c9bcb;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.save-form-button,
.reset-form-button {
  width: 15%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.save-form-button {
  border: none;
  background-color: #bfca42;
  color: white;
}

.reset-form-button {
  border: 1px solid #c9c9c9;
  background-color: white;
  color: black;
}
