.root-layout {
  padding: 2px;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

main .outlet {
  margin-left: 300px;
}

@media (max-width: 834px) {
  main .outlet {
    margin-left: 0px;
  }
}

.custom-scrollbar {
  overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #209cee;
  border-radius: 4px;
}
